*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width:100%;
    margin:auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: aquamarine;
    /* align-items: center; */
    /* justify-items: center; */
}
.box{
    background-color: plum;
    color: white;
    text-decoration: none;
    display: flex;
    margin: auto;
    flex-direction: column;
    border-radius: 10px;
}
.box h1{
    text-align: center;
    color: blueviolet;
    font-size: 3rem;
}
.search-area{
    display: flex;
    justify-content: space-between;
}
.search-area input{
    height:30px;
    width: 200px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 10px;
}
.search-area button{
    width: 100px;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 10px;
}
.challenges-list{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.daily{
    display: flex;
    flex-direction: column;
    margin:20px;
}
.daily li{
    list-style: none;
    padding: 5px;
}
.weekly{
    display: flex;
    flex-direction: column;
    margin:20px;
}
.weekly li{
    list-style: none;
    padding: 5px;
}

/* Add challenges button */
.add-challenge input{
    display: none;

}
.d{
    background-color: black;        
    border-radius: 10px;
    padding: 0 10px;
}
.w{
    background-color: black;
    border-radius: 10px;
    padding: 0 10px;
}
.d input{
    display: none;
}
.w input{
    display: none;
}
.add-challenge #weeklycheck input:checked{
    display:block;
}

